# =========================
# Python & Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environments
# =========================
.venv/
venv/
env/
.env

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3
smart_expenses.db

# =========================
# IDEs & OS Files
# =========================
.idea/
.vscode/
.DS_Store
